<p style="color: green"><%= notice %></p>

<%=turbo_stream_from "emails" %>
<div class="container">
  <p class="h1">Emails</p>
</div>

<div class="container"> 
  <%= turbo_frame_tag "email_form" do%>
  <button type="button" class="btn btn-info"><%= render 'form',email: @email %>
  <%# <%= link_to "New email", new_email_path %>
  </button>
  <% end %>
</div>

<div id="emails">
  <% @emails.each do |email| %>
    <%= render email %>
    <div class="container text-center">
      <p>
        <%= link_to "Show this email", email %>
      </p>
    </div>
  <% end %>
</div>
